.navbar {
    transition: 0.3s;
}
.menu-button {
    cursor: pointer;
    position: fixed;
    bottom: 100px;
    right: 30px;
    padding: 12px 20px;
    background-color: #0051ff;
    color: #ffffff;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    z-index: 1000;
}
.menu {
    background-color: var(--reverse-color);
    position: fixed;
    bottom: -100%; 
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border-top: #0051ff solid 5px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: bottom 0.4s ease-in-out;
}
.menu.open {
    bottom: 0;
}
.menu ul {
    list-style: none;
}
.menu li {
    padding: 30px 0;
}
.nav-link {
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}
.theme-button {
    background: none;
    border: none;
}
.theme-icon {
    cursor: pointer;
    background: none;
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
    .menu {
        position: static;
        display: flex;
        justify-content: right;
        flex-direction: row;
        border-top: none;
        border-bottom: #0051ff outset 5px;
        transition: 0.3s;
    }
    .menu li {
        display: inline-block;
    }
    .nav-link {
        padding: 15px;
        margin: 10px 15px 15px 15px;
        border: outset 5px;
        border-color: var(--text-color);
        border-radius: 5px;
    }
    .active {
        border-color: #0051ff;
        color: #0051ff;
    }
    .nav-link:hover {
        text-decoration: underline;
        color: #0051ff;
        border-color: #0051ff;
    }
    .theme-button {
        margin: 10px 20px;
    }
    .theme-icon {
        width: 50px;
        height: 50px;
        vertical-align: middle;
    }
    .theme-icon:hover {
        transform: scale(1.1);
    }
}